<%- include partials/header.ejs  %>

<%- include partials/main_nav.ejs  %>

<div class="container">
<br>
<h3 class="display-6">Welcome to the <%= title %> page</h3>
<br>
<table style="width: 1100px">
	<tr>
		<td style="width: 250px">
		<img height="285" src="./Assets/images/picture.jpg" width="229"></td>
	</tr>
	<tr>
		<td style="text-align: center;">
		<br><p style="color: rgb(51, 51, 51); font-family: &quot;Comic Sans MS&quot;; font-size: large; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;    -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; ">
		I am from<span>&nbsp;</span><b style="color: blue;">Korea.</b><span>&nbsp;</span><img alt="flag" src="http://studentweb.cencol.ca/jjeon24/KR-Flag.png" width="25px"></p>
		<p style="color: rgb(51, 51, 51); font-family: &quot;Comic Sans MS&quot;; font-size: large; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;      -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; ">
		I have been living in Toronto for one year and a half. <br>I am a student in the<span>&nbsp;</span><b style="color: olive;">Software Engineering Technician program</b><span>&nbsp;</span>at Centennial College.
		<br> <br><span> <'Work Experience'></span> <br>- Korea Student Aid Foundation for 2 and half years.(Seoul, Korea) <br>- Hyundai Mobis<sup>®</sup><span>&nbsp;</span>for 2 years.(Seoul, Korea)</p>
		
		</td>
	</tr>
</table>


</div>
 <%- include partials/bottom_nav.ejs  %>

 <%- include partials/footer.ejs  %>