<%- include partials/header.ejs  %>

<%- include partials/main_nav.ejs  %>

<div class="container">
<br>
<h3 class="display-12">Welcome to the <%= title %> page</h3>
<img width="370" src="./Assets/images/Table.jpg" >
<br><br>
<table style="width: 800">
	<tr>
    	<td><img width="370" src="./Assets/images/table.jpg" ></td>
        <td><img width="390" src="./Assets/images/bmr.jpg" ></td>
		<td><img width="380" src="./Assets/images/game.jpg" ></td>

	</tr>
	<tr>
		<td><strong>Dynamic Table</strong></td>
		<td><strong>BMR Calculator</strong></td>
		<td><strong>Mini Game</strong></td>
	</tr>
</table>

</div>
 <%- include partials/bottom_nav.ejs  %>

 <%- include partials/footer.ejs  %>