<%- include partials/header.ejs  %>

<%- include partials/main_nav.ejs  %>

<div class="container">
<br>
<h3 class="display-12">Welcome to the <%= title %> page</h3>
<br>
<table table-bordered style= " margin-left: auto; margin-right: auto; width: 400px">
	<tr>  
		<td><img height="110" src="./Assets/images/program.jpg" width="110"></td>
		<td>general programming</td>
	</tr>
	<tr>
		<td><img height="110" src="./Assets/images/web.png" width="110"></td>
		<td>web development</td>
	</tr>
	<tr>
		<td><img height="110" src="./Assets/images/mobile.png" width="110"></td>
		<td>mobile apps</td>
	</tr>
	<tr>
		<td><img height="110" src="./Assets/images/data.png" width="110"></td>
		<td>Database</td>
	</tr>

</table>

</div>
 <%- include partials/bottom_nav.ejs  %>

 <%- include partials/footer.ejs  %>